@use 'variables' as v;

.header {
  width: 100%;
  height: 64px;
  background: v.$theme-color;
  display: flex;
  position: fixed;
  align-items: center;
}

.title {
  margin-left: 1rem;
  color: v.$main-text-color;
  font-weight: bold;
  font-size: 21px;
}
