.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  margin: auto;
  padding: 70px 0 0 0;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}
