@use 'variables' as v;

.title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: v.$secondary-text-color;
  margin: 10px;
}

.wrapper {
  width: 90%;
  margin: 15px auto;
  display: flex;
}

.name {
  width: 4rem;
  font-weight: bold;
  color: v.$dark-text-color;
}

.progress {
  background-color: v.$secondary-text-color;
  border-radius: 1rem;
  overflow: hidden;
}

.bar {
  height: 21px;
  border-radius: 1rem;
  transition: 1s ease;
  transition-delay: 1s;
}
