@use 'variables' as v;

.container {
  text-align: center;
}

.value {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 15px;
  color: v.$secondary-text-color;
}

.desc {
  color: v.$dark-text-color;
}
